{% extends 'base.html.twig' %}

{% block title %}Profile index{% endblock %}

{% block body %}
    <h1>Profile index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Position</th>
                <th>Birthdate</th>
                <th>ProfilePicture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profile in profiles %}
            <tr>
                <td>{{ profile.id }}</td>
                <td>{{ profile.username }}</td>
                <td>{{ profile.firstname }}</td>
                <td>{{ profile.lastname }}</td>
                <td>{{ profile.position }}</td>
                <td>{{ profile.birthdate ? profile.birthdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ profile.profilePicture }}</td>
                <td>
                    <a href="{{ path('app_profile_show', {'id': profile.id}) }}">show</a>
                    <a href="{{ path('app_profile_edit', {'id': profile.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_profile_new') }}">Create new</a>
{% endblock %}
