{% extends 'base.html.twig' %}

{% block title %}Index des Profils{% endblock %}

{% block body %}
    <h1>Index des Profils</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom d'utilisateur</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Position</th>
                <th>Date de naissance</th>
                <th>Photo de profil</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profile in profiles %}
            <tr>
                <td>{{ profile.id }}</td>
                <td>{{ profile.username }}</td>
                <td>{{ profile.firstname }}</td>
                <td>{{ profile.lastname }}</td>
                <td>{{ profile.position }}</td>
                <td>{{ profile.birthdate ? profile.birthdate|date('Y-m-d') : 'N/A' }}</td>
                <td><img src="{{ profile.profilePicture ?: 'path/to/default/image.jpg' }}" alt="Photo de Profil de {{ profile.username }}" class="img-thumbnail" style="width: 100px; height: auto;"></td>
                <td>
                    <a href="{{ path('app_profile_show', {'id': profile.id}) }}" class="btn btn-primary">Voir</a>
                    <a href="{{ path('app_profile_edit', {'id': profile.id}) }}" class="btn btn-secondary">Éditer</a>
                    {{ include('profile/_delete_form.html.twig', {'profile': profile}) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun profil trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_profile_new') }}" class="btn btn-success">Créer un nouveau profil</a>
{% endblock %}
