{# J'étends le layout de base pour assurer une cohérence visuelle dans toute l'application. #}
{% extends 'base.html.twig' %}

{% block title %}Détails du Profil{% endblock %}

{% block body %}
    <h1>Détails du Profil</h1>

    <table class="table">
        <tbody>
            {# J'affiche les différentes propriétés du profil dans un tableau pour une lecture facile. #}
            <tr>
                <th>Id</th>
                <td>{{ profile.id }}</td>
            </tr>
            <tr>
                <th>Nom d'utilisateur</th>
                <td>{{ profile.username }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ profile.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ profile.lastname }}</td>
            </tr>
            <tr>
                <th>Poste</th>
                <td>{{ profile.position }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ profile.birthdate ? profile.birthdate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Photo de profil</th>
                {# J'assume ici que la photo de profil est stockée sous forme d'URL. Vous pourriez avoir besoin d'ajuster cela en fonction de votre implémentation. #}
                <td><img src="{{ profile.profilePicture }}" alt="Photo de Profil" /></td>
            </tr>
        </tbody>
    </table>

    {# J'offre des options pour revenir à la liste, éditer le profil ou le supprimer. #}
    <a href="{{ path('app_profile_index') }}">Retour à la liste</a>
    <a href="{{ path('app_profile_edit', {'id': profile.id}) }}">Éditer</a>
    {{ include('profile/_delete_form.html.twig') }}
{% endblock %}
