{% extends 'base_bo.html.twig' %}

{% block title %}Personal{% endblock %}

{% block body %}
    <h1>Personal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ personal.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ personal.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ personal.email }}</td>
            </tr>
            <tr>
                <th>Mot de passe</th>
                <td>{{ personal.password }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ personal.createdAt ? personal.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de modification</th>
                <td>{{ personal.updatedAt ? personal.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date d'entrée</th>
                <td>{{ personal.entryDate ? personal.entryDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de sortie</th>
                <td>{{ personal.exitDate ? personal.exitDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ personal.matricule }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ personal.role }}</td>
            </tr>
            <tr>
                <th>Manager</th>
                <td>{{ personal.managerId }}</td>
            </tr>
            <tr>
                <th>Service</th>
                <td>{{ personal.department }}</td>
            </tr>
        </tbody>
    </table>

    
    <a href="{{ path('app_personal_show', {'id': personal.id}) }}">Voir</a>
    <a href="{{ path('app_personal_edit', {'id': personal.id}) }}">Éditer</a>
    <a href="{{ path('app_personal_delete', {'id': personal.id}) }}">Supprimer</a>
    <a href="{{ path('app_personal_index') }}">Retour</a>

    {{ include('personal/_delete_form.html.twig') }}
{% endblock %}
