{% extends 'base.html.twig' %}

{% block title %}Team index{% endblock %}

{% block body %}
    <h1>Team index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Team_id</th>
                <th>Team_name</th>
                <th>Description</th>
                <th>Created_at</th>
                <th>Member</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td>{{ team.teamId }}</td>
                <td>{{ team.teamName }}</td>
                <td>{{ team.description }}</td>
                <td>{{ team.createdAt ? team.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ team.member }}</td>
                <td>
                    <a href="{{ path('app_team_show', {'id': team.id}) }}">show</a>
                    <a href="{{ path('app_team_edit', {'id': team.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_team_new') }}">Create new</a>
{% endblock %}
