{% extends 'base_bo.html.twig' %}

{% block title %}Team Overview{% endblock %}

{% block body %}
<h1>Liste des équipes</h1>
<a href="{{ path('app_team_new') }}" class="btn btn-success">Créer une nouvelle équipe</a>
<table class="table">
    <thead>
        <tr>
            
            <th>Nom de l'équipe</th>
            <th>Description</th>
            <th>Date de création</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for team in teams %}
        <tr>
            
            <td>{{ team.teamName }}</td>
            <td>{{ team.description }}</td>
            <td>{{ team.createdAt|date('Y-m-d') }}</td>
            <td>
                <a href="{{ path('app_team_show', {'id': team.id}) }}" class="btn btn-info btn-sm" title="Afficher"><i class="fas fa-eye"></i></a>
                <a href="{{ path('app_team_edit', {'id': team.id}) }}" class="btn btn-primarybtn-sm" title="Modifier"><i class="fas fa-edit"></i></a>

                {{ include('team/_delete_form.html.twig', {'team': team}) }}
                   
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">Aucune équipe n'a été trouvée</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
