{% extends 'base.html.twig' %}

{% block title %}Workload index{% endblock %}

{% block body %}
    <h1>Workload index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Workload_level</th>
                <th>Date</th>
                <th>Comment</th>
                <th>Description</th>
                <th>Hours</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for workload in workloads %}
            <tr>
                <td>{{ workload.id }}</td>
                <td>{{ workload.workloadLevel }}</td>
                <td>{{ workload.date ? workload.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ workload.comment }}</td>
                <td>{{ workload.description }}</td>
                <td>{{ workload.hours }}</td>
                <td>
                    <a href="{{ path('app_workload_show', {'id': workload.id}) }}">show</a>
                    <a href="{{ path('app_workload_edit', {'id': workload.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_workload_new') }}">Create new</a>
{% endblock %}
