{% extends 'base_bo.html.twig' %}

{% block title %}Index des charges de travail{% endblock %}

{% block body %}
    <h1>Visualisation des charges de travail</h1>
    <a href="{{ path('app_workload_new') }}" class="btn btn-success">Créer une nouvelle charge de travail</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Niveau de charge</th>
                <th>Date</th>
                <th>Commentaire</th>
                <th>Description</th>
                <th>Heures</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for workload in workloads %}
            <tr>
                <td>{{ workload.id }}</td>
                <td>{{ workload.workloadLevel }}</td>
                <td>{{ workload.date ? workload.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ workload.comment }}</td>
                <td>{{ workload.description }}</td>
                <td>{{ workload.hours }}</td>
                <td>
                    <a href="{{ path('app_workload_show', {'id': workload.id}) }}" class="btn btn-info">Affichier</a>
                    <a href="{{ path('app_workload_edit', {'id': workload.id}) }}" class="btn btn-primary">Éditer</a>
                    <form method="post" action="{{ path('app_workload_delete', {'id': workload.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');" style="display: inline-block;">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ workload.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune charge de travail trouvée.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
