{# templates/admin/users/index.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Gestion des Utilisateurs{% endblock %}
{% block body %}
<div class="container mt-5">
    <h1>Gestion des Utilisateurs</h1>
    <!-- Bouton pour ajouter un nouvel utilisateur -->
    <a href="{{ path('new_user') }}" class="btn btn-primary mb-3">Ajouter un utilisateur</a>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('edit_user', {'id': user.id}) }}" class="btn btn-sm btn-secondary">Éditer</a>
                    <form action="{{ path('delete_user', {'id': user.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');" style="display: inline-block;">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                        <button type="submit" class="btn btn-sm btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
