{% extends 'base.html.twig' %}

{% block title %}TeamMember index{% endblock %}

{% block body %}
    <h1>TeamMember index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Role_in_team</th>
                <th>Joined_at</th>
                <th>Status</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team_member in team_members %}
            <tr>
                <td>{{ team_member.id }}</td>
                <td>{{ team_member.roleInTeam }}</td>
                <td>{{ team_member.joinedAt ? team_member.joinedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ team_member.status }}</td>
                <td>{{ team_member.Name }}</td>
                <td>{{ team_member.description }}</td>
                <td>
                    <a href="{{ path('app_team_member_show', {'id': team_member.id}) }}">show</a>
                    <a href="{{ path('app_team_member_edit', {'id': team_member.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_team_member_new') }}">Create new</a>
{% endblock %}
