{% extends 'base_bo.html.twig' %}

{% block title %}Goal index{% endblock %}

{% block body %}
    <h1>Liste des objectifs</h1>
    <a href="{{ path('app_goal_new') }}" class="btn btn-success">Créer un nouvel objectif</a>

    <table class="table">
        <thead>
            <tr>
                <th>Collaborateur</th>
                <th>Description</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for goal in goals %}
            <tr>
                <td>{{ goal.personal.username }}</td>
                <td>{{ goal.description }}</td>
                <td>{{ goal.deadline ? goal.deadline|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ goal.status }}</td>
                <td>{{ goal.priority }}</td>
                <td>{{ goal.createdAt ? goal.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ goal.updatedAt ? goal.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_goal_show', {'id': goal.id}) }}">Afficher</a>
                    <a href="{{ path('app_goal_edit', {'id': goal.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_goal_new') }}">Créer un nouvel objectif</a>
{% endblock %}
