{% extends 'base.html.twig' %}

{% block title %}Goal index{% endblock %}

{% block body %}
    <h1>Goal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for goal in goals %}
            <tr>
                <td>{{ goal.id }}</td>
                <td>{{ goal.description }}</td>
                <td>{{ goal.deadline ? goal.deadline|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ goal.status }}</td>
                <td>{{ goal.priority }}</td>
                <td>{{ goal.createdAt ? goal.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ goal.updatedAt ? goal.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_goal_show', {'id': goal.id}) }}">show</a>
                    <a href="{{ path('app_goal_edit', {'id': goal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_goal_new') }}">Create new</a>
{% endblock %}
