{% extends 'base.html.twig' %}

{% block title %}Liste des Ressources{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>Liste des Ressources</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>URL</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for resource_link in resource_links %}
            <tr>
                <td>{{ resource_link.title }}</td>
                <td>{{ resource_link.description }}</td>
                <td><a href="{{ resource_link.url }}">{{ resource_link.url }}</a></td>
                <td>
                    <a href="{{ path('resource_link_edit', {'id': resource_link.id}) }}" class="btn btn-primary">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr><td colspan="4">Aucune ressource trouvée</td></tr>
        {% endfor %}
        </tbody>
    </table>
    {# Insertion de formulaire si nécessaire #}
{% endblock %}
{% block javascripts %}
{% endblock %}
