{% extends 'base.html.twig' %}

{% block title %}Détails de l'utilisateur{% endblock %}

{% block body %}
<h1>Détails de l'utilisateur</h1>
<table class="table">
    <tbody>
        <tr>
            <th>ID</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
    </tbody>
</table>

<a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-secondary">Voir</a>
<a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-secondary">Éditer</a>
<a href="{{ path('user_delete', {'id': user.id}) }}" class="btn btn-secondary">Supprimer</a>
<a href="{{ path('user_index') }}" class="btn btn-primary">Retour</a>
{% endblock %}

